<header>
      <!--Container del Navbar-->
      <div class="container">
        <nav class="row navbar navbar-light" style="background-color: #e3f2fd;">       
          <div class="col-md-3"> 
             <!--Logo -->         
              <a href="http://127.0.0.1:3000/" class="col-3-lg col-3-md  col-md-auto btn btn-outline-primary btn-lg">         
                  <i class="bi bi-person-circle"></i>
                  <b>Carlos Vasquez</b>
                  <i class="bi bi-laptop"></i>
              </a> 
          </div>
          <div class="col-md-7">
              <!-- <a href="#agentescontaminantes" class="btn btn-outline-primary "><i class="bi bi-house"></i> Inicio</a>
              <a href="#comentarios" class="btn btn-outline-dark pr-6"><i class="bi bi-folder-plus"></i> Ingresar</a>             
              <a href="#contacto" class="btn btn-outline-primary pr-6"><i class="bi bi-people-fill"></i> ¿Quienes Somos?</a>
               <a href="#contacto" class="btn btn-outline-dark pr-6"><i class="bi bi-person-bounding-box"></i> Contacto</a>
               <a href="#contacto" class="btn btn-outline-danger pr-6">Necesita Ayuda<i class="bi bi-question-circle-fill"></i></a> -->
          </div>         
          <div class="col-md-2">            
             <!--Facebook-->
              <a href="#" class="text-reset btn btn-primary btn-sm"><i class="bi bi-facebook"></i> </a> 
                <!--Twitter-->
              <a href="#" class="text-reset btn btn-info btn-sm"><i class="bi bi-twitter"></i></a>            
                <!--Instagram-->
              <a href="#" class="text-reset btn btn-warning btn-sm"><i class="bi bi-instagram"></i></a>
                <!--Pinterest-->
              <a href="#" class="text-reset btn btn-danger btn-sm"><i class="bi bi-pinterest btn-sm"></i> </a>
          </div>     
        </nav>              
      </div>
    </header>